<section id="details">
  <hr>
  </div>
  <section class="card">
    </div>
    <hr>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/img/Sqalogo.jpg" alt="Card image cap">
      <div class="card-block">
        {{#each user}}
        <p>{{ name }}</p>
        <p>{{ email }}</p>
        <p>{{ date }}</p>
        {{else}}
        <h4> {{user.name}} </h4>
        <h4> {{user.email}} </h4>
        <h4> {{user.date}} </h4>
        {{/each}}
      </div>
    </div>
    <hr>
   <div class="col-md-3">
      <h3 class="card-title">User details</h3>
      <a href="/edit-details {{_id}}" class="btn btn-primary">Edit Student-details</a>
    </div>
    <hr>
    <hr>
     <a href="#" class="btn btn-primary"></a>
     <hr>
<img class="mx-auto d-block logo m-2" src="/img/achievements.jpg">
 <h1 class="card-title">My Achievemets!</h1>
      <p class="card-text">Glasglow Kelvin College  </p>

  {{#each errors}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/each}}

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h2>Achievements</h2>
            <form action="/student-details" method="POST">
              <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title">
              </div>
              <div class="form-group">
                <input type="text" name="description" class="form-control" placeholder="Description">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Achievements</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
           {{#each achi }}
          <tbody>
            <tr> 
                     <td>{{title}}</td> 
                     <td>{{description}}</td>
                     <td>{{status}}</td>
                     <td>
                          <form action="/archievemen/{{id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger btn-block bth-sm" type="submit">DELETE</button>
                          </form> 
                     </td>
                    {{/each}}
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>
      </section>