{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Persona Details</h3>
    </div>
    <div class="card-body">
      <form action="/applications/edit/{{application._id}}"?_method=PUT">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" name="title" class="form-control" value="{{application.title}}"/>
        </div>
         <div class="form-group">
          <input type="text" name="fullName" class="form-control" value="{{application.fullName}}"/>
        </div>
        <div class="form-group">
          <input type="text" name="gender" class="form-control" value="{{application.gender}}"/>
        </div>
         <div class="form-group">
          <input type="text" name="date of Birth" class="form-control" value="{{application.date}}"/>
        </div>
         <div class="form-group">
          <input type="text" name="status" class="form-control" value="{{application.status}}"/>
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control">{{application.description}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
